{% extends "base.html" %}
{% load i18n %}
{% load coretags %}

{% block pagetitle %}
{% blocktrans %} Already registered for {{conflicting_event}} {% endblocktrans %}
{% endblock pagetitle%}

{% block content %}
  {% if message %}
    <p class="notification">{{ message }}</p>
  {% endif %}

    <p><b>
      {% blocktrans with registration.event as event %}
      You cannot register for {{event}}, because you have already registered for {{ conflicting_event }}.
      {% endblocktrans %}
    </b></p>
    <p>
    See <a href="https://www.evolution-events.nl/forum/viewtopic.php?f=3&t=1801#p11766">this forum post</a> for more details.
    </p>

    <a class="btn btn-success" href="{{ back_url }}" role="button">{% trans 'Back' %}</a>
{% endblock content %}
