{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}{% trans 'Edit options' %}{% endblock pagetitle%}

{% block content %}
  {% if message %}
    <p class="notification">{{ message }}</p>
  {% endif %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
    {{ opt_form.as_table }}
    </table>
    <a class="btn btn-default" href="{% url 'registrations:medicaldetailform' registration.id %}" role="button">{% trans 'Back' %}</a>
    <button class="btn btn-success" type="submit">{% trans 'Next step' %}</button>
  </form>
{% endblock content %}
