{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}{% trans 'Edit medical details' %}{% endblock pagetitle%}
{% block content %}
  {% blocktrans %}
  This information is shared between all your upcoming events. If you edit it here, the
  changes will also apply to your other current registrations for upcoming events. This
  info will be removed once you have no more upcoming events left. For more information
  about how we handle your medical data, please see our
  <a href="https://www.evolution-events.nl/algemeen/?pg=privacy">privacy policy</a>.
  {% endblocktrans %}
  {% if message %}
    <p class="notification">{{ message }}</p>
  {% endif %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
    {{ md_form.as_table }}
    </table>
    <a class="btn btn-default" href="{{ back_url }}" role="button">{% trans 'Back' %}</a>
    <button class="btn btn-success" type="submit">{% trans 'Next step' %}</button>
  </form>
{% endblock content %}
