{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}{% trans 'Edit personal details' %}{% endblock pagetitle%}

{% block content %}
  {% if message %}
    <p class="notification">{{ message }}</p>
  {% endif %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
    {{ ud_form.as_table }}
    {{ pd_form.as_table }}
    </table>
    <a class="btn btn-default" href="{% url 'events:eventlist' %}" role="button">{% trans 'Cancel' %}</a>
    <button class="btn btn-success" type="submit">{% trans 'Next step' %}</button>
  </form>
{% endblock content %}
