{% extends "base.html" %}
{% load i18n %}
{% load coretags %}

{% block pagetitle %}{% trans 'Final check' %}{% endblock pagetitle%}

{% block content %}
  {% if message %}
    <p class="notification">{{ message }}</p>
  {% endif %}

  <h1>{{ event.display_name }}</h1>

  {% if event.registration_is_open %}
  <h2>Ready to complete registration</h2>
  {% trans 'Please doublecheck below information and finalize your registration.' %}
  {% else %}
  <h2>Registration prepared</h2>
  {% trans 'You have succesfully prepared your registration. Once registration opens, you can come back here to confirm your registration.' %}
  {% if event.registration_opens_at %}
  {% blocktrans with on=event.registration_opens_at|date:"DATE_FORMAT" at=event.registration_opens_at|date:"TIME_FORMAT" %}
  Registration will open on {{on}} at {{at}}.
  {% endblocktrans %}
  {% endif %}
  {% endif %}

  {% if pdetails %}
  <h2>{% trans 'Personal details' %}</h2>
  <table class="table">
      <tr><td>{% trans 'Fistname' %}</td><td>{{user.first_name}}</td></tr>
      <tr><td>{% trans 'Lastname' %}</td><td>{{user.last_name}}</td></tr>
      <tr><td>{% trans 'E-mail address' %}</td><td>{{user.email}}</td></tr>
      <tr><td>{% trans 'Address' %}</td><td>{{pdetails.address}}</td></tr>
      <tr><td>{% trans 'Postal code' %}</td><td>{{pdetails.postalcode}}</td></tr>
      <tr><td>{% trans 'City of residence' %}</td><td>{{pdetails.city}}</td></tr>
      <tr><td>{% trans 'Country' %}</td><td>{{pdetails.country}}</td></tr>
  </table>
  {% endif %}

  {% if mdetails %}
  <h2>{% trans 'Medical details' %}</h2>
  <table class="table">
    <tr><td>{% trans 'Food allergies' %}</td><td>{{mdetails.food_allergies}}</td></tr>
    <tr><td>{% trans 'Take into account' %}</td><td>{{mdetails.event_risks}}</td></tr>
  </table>
  {% endif %}

  {% if emergency_contacts %}
  <h2>{% trans 'Emergency contacts' %}</h2>
  <table class="table">
    <tr>
        <th>Name</th>
        <th>Relation</th>
        <th>Phone number</th>
        <th>Remarks</th>
    </tr>
    {% for contact in emergency_contacts %}
    <tr>
      <td>{{contact.contact_name}}</td>
      <td>{{contact.relation}}</td>
      <td>{{contact.phone_number}}</td>
      <td>{{contact.remarks}}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  {% if registration and registration.options.all %}
  <h2>{% trans 'Event options' %}</h2>
  <table class="table registration-options">
    {% for value in registration.options.all %}
    <tr>
      <td>{{ value.field.title }}</td>
      <td>{{ value.display_value }}</td>
      {% if value.price is not None %}
      <td class="price">{{ value.price | moneyformat }}</td>
      {% else %}
      <td class="noprice"></td>
      {% endif %}
    </tr>
    {% endfor %}
    <tr class="total-price">
      <td></td>
      <td class="label">{% trans 'Total price' %}</td>
      <td class="price">{{ registration.price | moneyformat }}</td>
    </tr>
  </table>
  {% endif %}
  <a href="{{ modify_url }}" class="btn btn-sm btn-info" role="button">{% trans 'Modify information' %}</a>

  {% if event.registration_is_open %}
  <h2>{% trans 'Finalize registration' %}</h2>
  <p> TODO: hier de voorwaarden of een link naar de voorwaarden (huisregels?) </p>
  <p> TODO: ook iets over voorwaarden als de inschrijvingen nog niet open zijn zodat mensen ze alvast kunnen lezen?</p>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
    {{ fc_form.as_table }}
    </table>
    {% trans 'By clicking register below, you register for this event and enter into an obligation. On cancellation, costs may still be due (as specified in the house rules).'%}
    <button class="btn btn-success" type="submit">{% trans 'Register' %}</button>
  </form>
  {% endif %}
{% endblock content %}
