{% extends "registrations/step_base.html" %}
{% load i18n %}
{% load coretags %}

{% block pagetitle %}
  {% if registration.status.WAITINGLIST %}
    {% blocktrans with event=registration.event %}
    Completed waitinglist registration for {{event}}
    {% endblocktrans %}
  {% else %}
    {% blocktrans with event=registration.event %}
    Completed registration for {{event}}
    {% endblocktrans %}
  {% endif %}
{% endblock pagetitle%}

{% block beforeform %}
  {% if registration.status.PENDING %}
    {% if registration.event.pending_mail_text %}
      {{ registration.event.pending_mail_text }}
    {% else %}
      {% blocktrans with event=registration.event eventurl=registration.event.display_url|urlize %}
      Your registration for {{event}} was completed. You are not admitted yet,
      see the event website for details on how and when you will be admitted:
      {{eventurl}}.
      {% endblocktrans %}
    {% endif %}
  {% elif registration.status.REGISTERED %}
    <p>
    {% blocktrans with event=registration.event eventurl=registration.event.display_url|urlize %}
    Your registration for {{event}} was completed. Your spot is secured for
    you, provided that you pay in time (see the event website {{eventurl}} for the
    payment policy).
    {% endblocktrans %}
    </p>
  {% else %}
    <p>
    {% blocktrans with event=registration.event %}
    Your registration for {{event}} was completed. However, your
    registration was put on the waitinglist because the event (or one of the
    options you selected) is full.
    {% endblocktrans %}
    </p>
    <p>
    {% blocktrans %}
    Note that admissions from the waiting list are ordered by
    registration date. You can see your waiting list position on the
    dashboard. Normally, we only consider registrations that have been
    paid for, but for On the Styx we have made an exception to this rule
    (see the event website). So no payment is needed now, only when you
    are actually admitted to the event.
    {% endblocktrans %}
    </p>
    <p>
    {% url 'core:house_rules' as house_rules %}
    {% blocktrans %}
    For details, see our <a href="{{ house_rules }}">house rules</a>.
    {% endblocktrans %}
    </p>
  {% endif %}

  {% if registration.options.all %}
    <h2>{% trans "Selected options" %}</h2>
    {% include 'registrations/snippets/registration_options.html' with registration=registration %}
  {% endif %}

  {% if not registration.status.PENDING %}
    <h2>{% trans "Payments" %}</h2>
    {% blocktrans trimmed with registration.id as regnum %}
    Payments can be made to IBAN account NL52INGB0001297429, held by
    "Stichting Evolution Events" in Capelle aan den IJssel, NL. Please note
    your name, the event name and the registration number
    ({{regnum}}) in the payment description.
    {% endblocktrans %}
  {% endif %}

  <h2>{% trans "Changes to your registration" %}</h2>
  {% blocktrans trimmed with registration.event.display_email|urlize as mail %}
  If you need to make changes to your registration (i.e. changing
  registration options) or want to cancel your registration, please
  contact the organisation at {{mail}}. In the future, you will be able
  to make some changes yourself by logging in to Artaxerxes.
  {% endblocktrans %}

{% endblock beforeform %}

{% block buttons %}
{% endblock buttons %}
