{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}{% trans 'Edit personal details' %}{% endblock pagetitle%}

{% block content %}
  {% if message %}
    <p class="notification">{{ message }}</p>
  {% endif %}

  <p>
  {% url 'core:privacy_policy' as privacy_url %}
  {% blocktrans %}
  This information is used to identify and contact you. We require your
  name, email address and a telephone number, your address data is
  optional.
  {% endblocktrans %}
  </p>
  <p>
  {% blocktrans %}
  This information is shared between all your upcoming events. If you
  edit it here, the changes will also apply to your other current
  registrations for upcoming events (if any). Your telephone number and
  address will be automatically removed once you have no more upcoming
  events left.
  {% endblocktrans %}
  </p>
  <p>
  {% blocktrans %}
  See our <a href="{{ privacy_url }}">privacy policy</a> for details.
  {% endblocktrans %}
  </p>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
    {{ form.user_form.as_table }}
    {{ form.address_form.as_table }}
    </table>
    <a class="btn btn-default" href="{{ back_url }}" role="button">{% trans 'Back' %}</a>
    <button class="btn btn-success" type="submit">{% trans 'Next step' %}</button>
  </form>
{% endblock content %}
