{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block pagetitle %}
{% blocktrans %}Registering for {{event}}{% endblocktrans %}
{% endblock pagetitle%}

{% block content %}
  {% block beforeform %}
  {% endblock beforeform %}

  {% block outerform %}
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% block form %}
      {{ form | crispy }}
    {% endblock form %}
    {% block buttons %}
      <a class="btn btn-default" href="{{ back_url }}" role="button">
        {% if step_num == 0 %}
          {% trans 'Cancel' %}
        {% else %}
          {% trans 'Back' %}
        {% endif %}
      </a>
      <button class="btn btn-success" type="submit">{% trans 'Next step' %}</button>
    {% endblock buttons %}
    </form>
  {% endblock outerform %}
{% endblock content %}
