{% extends "base.html" %}
{% load i18n %}
{% load coretags %}

{% block pagetitle %}{% trans 'Final check' %} - {{ event.display_name }}{% endblock pagetitle%}

{% block content %}
  {% if message %}
    <p class="notification">{{ message }}</p>
  {% endif %}

  {% if event.registration_is_open %}
    <h2>Ready to complete registration</h2>
    {% trans 'Please doublecheck below information and finalize your registration.' %}
  {% else %}
    <h2>Registration prepared</h2>
    <p>
      {% trans 'You have succesfully prepared your registration. Once registration opens, you can come back here to confirm your registration.' %}
    </p>
    {% if event.registration_opens_at %}
    <p>
      {% blocktrans with on=event.registration_opens_at|date:"DATE_FORMAT" at=event.registration_opens_at|date:"TIME_FORMAT" tz=event.registration_opens_at|date:"O" %}
      Registration will open on {{on}} at {{at}} (UTC{{tz}}).
      {% endblocktrans %}
    </p>
    {% endif %}
  {% endif %}

  {% if pdetails %}
  <h3>{% trans 'Personal details' %}</h3>
  <table class="table">
      <tr><td>{% trans 'First Name' %}</td><td>{{user.first_name}}</td></tr>
      <tr><td>{% trans 'Last Name' %}</td><td>{{user.last_name}}</td></tr>
      <tr><td>{% trans 'E-mail address' %}</td><td>{{user.email}}</td></tr>
      <tr><td>{% trans 'Phone number' %}</td><td>{{pdetails.phone_number}}</td></tr>
      <tr><td>{% trans 'Address' %}</td><td>{{pdetails.address}}</td></tr>
      <tr><td>{% trans 'Postal code' %}</td><td>{{pdetails.postalcode}}</td></tr>
      <tr><td>{% trans 'City of residence' %}</td><td>{{pdetails.city}}</td></tr>
      <tr><td>{% trans 'Country' %}</td><td>{{pdetails.country}}</td></tr>
  </table>
  {% endif %}

  {% if mdetails %}
  <h3>{% trans 'Medical details' %}</h3>
  <table class="table">
    <tr><td>{% trans 'Food allergies' %}</td><td>{{mdetails.food_allergies}}</td></tr>
    <tr><td>{% trans 'Take into account' %}</td><td>{{mdetails.event_risks}}</td></tr>
  </table>
  {% endif %}

  {% if emergency_contacts %}
  <h3>{% trans 'Emergency contacts' %}</h3>
  <table class="table">
    <tr>
        <th>Name</th>
        <th>Relation</th>
        <th>Phone number</th>
        <th>Remarks</th>
    </tr>
    {% for contact in emergency_contacts %}
    <tr>
      <td>{{contact.contact_name}}</td>
      <td>{{contact.relation}}</td>
      <td>{{contact.phone_number}}</td>
      <td>{{contact.remarks}}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  {% if registration and options %}
  <h3>{% trans 'Event options' %}</h3>
  <table class="table registration-options">
    {% for value in options %}
    <tr>
      <td>{{ value.field.title }}</td>
      <td>
        {{ value.display_value }}
        {% if value.option.full %}
        {% trans ' (FULL)' %}
        {% endif %}
      </td>
      {% if value.price is not None %}
      <td class="price">{{ value.price | moneyformat }}</td>
      {% else %}
      <td class="noprice"></td>
      {% endif %}
    </tr>
    {% endfor %}
    <tr class="total-price">
      <td></td>
      <td class="label">{% trans 'Total registration fee' %}</td>
      <td class="price">{{ registration.price | moneyformat }}</td>
    </tr>
  </table>
  {% endif %}

  {% if any_is_full %}
  <p><b>
  {% blocktrans %}
    Note that the event, or some of the options you selected, are
    full. You can still register for the waiting list and participate
    if space becomes available.
  {% endblocktrans %}
  </b><p>
  {% endif %}

  <h2>{% trans 'Conditions' %}</h2>
  <ul>
      <li>All participants must abide to our <a href="{% url 'core:house_rules' %}">house rules</a>.</li>
      <li>We will process the data you supply according to our <a href="{% url 'core:privacy_policy' %}">privacy policy</a>.</li>
      <li>Registration for this event creates an obligation to pay the registration fee. On cancellation, costs may
      still be due (as specified in our <a href="{% url 'core:house_rules' %}">house rules</a>).</li>
  </ul>

  {% if not event.registration_is_open %}
  <p>{% blocktrans %}
  When you load (or refresh) this page after registration has opened, you can finalize your registration here.
  {% endblocktrans %}
  </p>
  {% if event.registration_opens_at %}
  <p>
  {% blocktrans with on=event.registration_opens_at|date:"DATE_FORMAT" at=event.registration_opens_at|date:"TIME_FORMAT" tz=event.registration_opens_at|date:"O" %}
  Registration will open on {{on}} at {{at}} (UTC{{tz}}).
  {% endblocktrans %}
  </p>
  {% endif %}

  {% endif %}
  {% if event.registration_is_open %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
    {{ form.as_table }}
    </table>
  {% endif %}
    <a href="{{ modify_url }}" class="btn btn-info" role="button">{% trans 'Modify information' %}</a>
  {% if event.registration_is_open %}
    <button class="btn btn-success" type="submit">
    {% if any_is_full %}
      {% trans 'Register on waiting list' %}
    {% else %}
      {% trans 'Register' %}
    {% endif %}
    </button>
  </form>
  {% endif %}
{% endblock content %}
