{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}{% trans 'Edit options' %}{% endblock pagetitle%}

{% block content %}
  {% if message %}
    <p class="notification">{{ message }}</p>
  {% endif %}

  <p>
  {% blocktrans %}
  Here you can select some options specific to this event. The options
  you select might influence the price of your registration, as
  indicated below. Some options might be subject to limited
  availability, indicated below only for completely full options.
  {% endblocktrans %}
  </p>
  <p>
  {% blocktrans %}
  You can changes some of these options after finalizing your
  registration, subject to availability and any conditions specified on
  the event website. To do so, contact the organization by email.
  {% endblocktrans %}
  </p>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
    {{ form.as_table }}
    </table>
    <a class="btn btn-default" href="{{ cancel_url }}" role="button">{% trans 'Cancel' %}</a>
    <button class="btn btn-success" type="submit">{% trans 'Next step' %}</button>
  </form>
{% endblock content %}
