{% extends "registrations/step_base.html" %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block beforeform %}
  <h2>{% trans 'Registration options' %}</h2>

  <p>
  {% blocktrans %}
  Here you can select some options specific to this event. The options
  you select might influence the price of your registration, as
  indicated below. Some options might be subject to limited
  availability, indicated below only for completely full options.
  {% endblocktrans %}
  </p>
  <p>
  {% blocktrans %}
  You can change some of these options after finalizing your
  registration, subject to availability and any conditions specified on
  the event website. To do so, contact the organization by email.
  {% endblocktrans %}
  </p>
{% endblock beforeform %}

{% block form %}
  <div class="registration-options-form">
  {% for section, fields in form.sections %}
    <fieldset>
      {% if section %}
        <div class="section"
          {% if section.depends %}
          data-depends-name="{{ section.depends.field.name }}"
          data-depends-value="{{ section.depends.pk }}"
          {% endif %}
        >
          <legend class="section">{{section.title}}</legend>
          {% if section.help_text %}
          <div class="sectionhelp">
            {{ section.help_text | safe | linebreaks }}
          </div>
          {% endif %}
        </div>
      {% endif %}
      {% for field, form_field in fields %}
        <div class="field-type-{{ field.field_type }}"
          {% if field.depends %}
          data-depends-name="{{ field.depends.field.name }}"
          data-depends-value="{{ field.depends.pk }}"
          {% endif %}
        >
          {{ form_field | as_crispy_field }}
        </div>
      {% endfor %}
    </fieldset>
  {% endfor %}
  </div>
{% endblock form %}
