{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}{% trans 'Edit emergency contacts' %}{% endblock pagetitle%}

{% block content %}
  {% if message %}
    <p class="notification">{{ message }}</p>
  {% endif %}

  <p>
  {% url 'privacy_policy' as privacy_url %}
  {% blocktrans %}
  This information is shared between all your upcoming events. If you edit it here, the
  changes will also apply to your other current registrations for upcoming events. This
  info will be removed once you have no more upcoming events left. For more information
  about how we handle your medical data, please see our
  <a href="{{ privacy_url }}">privacy policy</a>.
  {% endblocktrans %}
  <br/><br/>
  {% blocktrans %}
  Please specify at least one emergency contact, whom we can contact
  in case something would happen to you.
  {% endblocktrans %}
  </p>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.non_form_errors }}
    {{ formset.management_form }}
    {% for form in formset %}
    <h3>{% blocktrans with num=forloop.counter %}Contact #{{num}}{% endblocktrans %}</h3>
    <table class="table table-borderless table-sm">
    {{ form.as_table }}
    </table>
    {% endfor %}
    <a class="btn btn-default" href="{{ back_url }}" role="button">{% trans 'Back' %}</a>
    <button class="btn btn-success" type="submit">{% trans 'Next step' %}</button>
  </form>
{% endblock content %}
