{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block pagetitle %}
{% if is_change %}
  {% blocktrans %}Editing registration for {{event}}{% endblocktrans %}
{% else %}
  {% blocktrans %}Registering for {{event}}{% endblocktrans %}
{% endif %}
{% endblock pagetitle%}

{% block content %}
  <div class="row">
    <div class="registration_steps col-auto">
      {% block steps %}
          <ul>
          {% for step in steps %}
            <li {% if step.current %}class="current"{%endif%}>
            {% if step.url %}
              <a href="{{ step.url }}">
            {% else %}
              <span>
            {% endif %}
            {{ step.title }}
            {% if step.url %}</a>{% else %}</span>{% endif %}
            </li>
          {% endfor %}
          </ul>
      {% endblock steps %}
    </div>
    <div class="registration_main col">
      {% if event.can_preview %}
        <div class="alert alert-primary">
          {% blocktrans %}
            NOTE: This page is only visible because you are organizer of this event.
          {% endblocktrans %}
        </div>
      {% endif %}

      {% block beforeform %}
      {% endblock beforeform %}

      {% block outerform %}
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% block form %}
          {{ form | crispy }}
        {% endblock form %}
        {% block buttons %}
          {% if back_url %}
          <a class="btn btn-default" href="{{ back_url }}" role="button">{{ back_text }}</a>
          {% endif %}
          <button class="btn btn-success" type="submit">{% trans 'Save and continue' %}</button>
        {% endblock buttons %}
        </form>
      {% endblock outerform %}
    </div>
  </div>
{% endblock content %}
