{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block pagetitle %}
{% blocktrans %}Registering for {{event}}{% endblocktrans %}
{% endblock pagetitle%}

{% block content %}
  {% block beforeform %}
  {% endblock beforeform %}

  {% block outerform %}
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% block form %}
      {{ form | crispy }}
    {% endblock form %}
    {% block buttons %}
      {% if back_url %}
      <a class="btn btn-default" href="{{ back_url }}" role="button">{{ back_text }}</a>
      {% endif %}
      <button class="btn btn-success" type="submit">{% trans 'Next step' %}</button>
    {% endblock buttons %}
    </form>
  {% endblock outerform %}
{% endblock content %}
