{% extends "base.html" %}
{% load i18n %}

{# This template is used on the pages email.html, password_set.html, password_change.html, connections.html #}

{% block pagetitle %}{% trans "Account settings" %}{% endblock %}

{% block precontent %}

<div class="account-settings-menu">
  <ul>
    <li><a href="{% url 'account_email' %}">{% trans "E-mail addresses" %}</a></li>
    <li><a href="{% url 'account_change_password' %}">{% trans "Password" %}</a></li>
    <li><a href="{% url 'core:email_prefs' %}">{% trans "E-mail notification preferences" %}</a></li>
    {# TODO: social accounts weer aanzetten als we ze handig hebben gemaakt #}
    <!-- <li><a href="{% url 'socialaccount_connections' %}">{% trans "Social authentication" %}</a></li> -->
  </ul>
</div>
{% endblock precontent %}
