{% extends "account/base.html" %}

{% load i18n %}

{% block pagetitle %}{% trans "Create account" %}{% endblock %}

{% block content %}

<p>{% blocktrans %}Already have an account in this system? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
<p>
  {% blocktrans trimmed %}
  Did you have an account in our old (before 2020, linked to our forums) system but not in this new one yet?
  Then you still need to create a new account here. Please use an email address that you read regularly because we will
  use this to contact you about events you register for.
  {% endblocktrans %}
  <p>
  {% blocktrans %}
  If you used a different email address in the old system you may add that as a secondary address to your new account
  after signing in. Doing this makes it possible for us to (sometime in the future) import some history from the
  old system to this new one.
  {% endblocktrans %}
</p>
<p>
  {% blocktrans trimmed %}
  Please use your common every day first- and last-name, no nicknames or character names.
  {% endblocktrans %}
</p>
<p>
  {% url 'core:privacy_policy' as privacy_url %}
  {% blocktrans %}
  Want to know why we collect this data and what we do with it? Please read our <a href="{{ privacy_url }}">privacy policy</a>.
  {% endblocktrans %}
</p>
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <table class="table table-borderless table-sm">
  {{ form.as_table }}
  </table>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Create account" %} &raquo;</button>
</form>

{% endblock %}
