# This file can be used with direnv to automatically activate the
# virtual environment

# Fix broken locales on OSX systems
if [ "$LC_CTYPE" = "UTF-8" ]; then
  LC_CTYPE="en_US.UTF-8"
fi

if [ -d venv ]; then
  # Allow manually managed environment in the repo root
  VENVDIR=venv;
elif poetry env info 2> /dev/null >/dev/null; then
  # Poetry 1.0 has a nice interface for this
  VENVDIR=$(poetry env info --path)
else
  # On older versions, we have to get creative
  VENVDIR=$(poetry show -v|grep '^Using virtualenv: '| cut -d' ' -f3)
fi
if [ -d "${VENVDIR}" ]; then
  . "${VENVDIR}/bin/activate"
fi
