# This file can be used with direnv to automatically activate the
# virtual environment

# Fix broken locales on OSX systems
if [ "$LC_CTYPE" = "UTF-8" ]; then
  LC_CTYPE="en_US.UTF-8"
fi

. $(pipenv --venv)/bin/activate
export PIPENV_ACTIVE=1
