[flake8]
exclude =
    .git,
    doc,
    __pycache__,
    .tox,
    */wsgi.py,
    manage.py,
    */migrations/*,

ignore =
    # as per Django's Coding Style
    W601,
    # Python2-specific comma warnings
    C814,
    # Do not require presence of docstrings (which is not always useful
    # for modules, or small inline classes such as Meta classes in
    # django).
    D100, D101, D102, D104, D105, D106

# TODO: Enable B902, if https://github.com/PyCQA/flake8-bugbear/issues/19 is fixed

# This requires the flake8-per-file-ignores package to be installed
per-file-ignores =
  # Settings use `import *`, which is usually not a great idea, but
  # cannot be helped in the settings, so ignore errors resulting from
  # this. It might be more explicit to put this exception in the files
  # themselves, but flake8 does not support this.
  # https://gitlab.com/pycqa/flake8/issues/399
  arta/settings/*.py:F401,F403,F405

# Build an own format string
format = %(code)s %(path)s::%(row)s %(text)s

# as per Django's Coding Style
# see https://docs.djangoproject.com/en/dev/internals/contributing/writing-code/coding-style/
max-line-length = 119
