[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[requires]
python_version = "3.5"

[packages]
django = "*"

[dev-packages]
"flake8" = "*"
coverage = "*"
"flake8-per-file-ignores" = "*"
