{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}{% trans 'About this system' %}{% endblock pagetitle%}

{% block content %}
<h2>{% trans 'What is it?' %}</h2>
<p>
  {% blocktrans trimmed %}
  This is Artaxerxes, the registration system for events by Evolution Events. After signing in you will find
  an overview of our events that you can register for, if there are any in the future. By registering
  for an event you reserve a spot at the event and agree to follow our rules concerning payment,
  cancelling and participation. More information about this can be found at the 'practical information' page
  (after signing in).
  {% endblocktrans %}
</p>

<h2>{% trans 'Account in this system' %}</h2>
<p>
  {% blocktrans trimmed %}
  Everybody who wants to use this registration system has to create a new account. Even if in the old
  system (from before 2020, linked to our forums) you had an account, you need to make a new one here. Please
  use an email address that you read regularly because we will use this to contact you about events you
  register for. If your account in the old system uses an address that you do not regularly check, but you
  would like to enable us to transfer some history from the old system (sometime in the future) you can
  add your old address as a secondary address after account creating (through "Account Settings"). The
  primary email address (with which you create your account) will be used to contact you, the other
  address(es) can (also) be used for signing in and password recovery.
  {% endblocktrans %}
</p>

<h2>{% trans '(Prepare) registration for event' %}</h2>
<p>
  {% blocktrans trimmed %}
  Both at the event website and in this system a date and time will be shown when registration for the
  event will open. If you want to be really quick at registering you can <em>prepare your registration</em>.
  This means that you can fill in all necessary information and make the choices for the event (like type
  of registration, additional options) before registration is actually opened. Then when the registration
  does open, all you have to do is agree to the conditions (which you can read beforehand) and press 'register'.
  {% endblocktrans %}
</p>
<p>
  {% url 'core:house_rules' as house_rules %}
  {% blocktrans trimmed %}
  If registration is already opened you can no longer <em>prepare</em> your registration but you will be
  able to register in one go, entering the same information that would be required on preparation. Until
  registration time closes (which might be right up to the event itself) you will be able to register, even
  if the event is already full. If the event is full when you register you will be put on the waiting list
  for the event. When a particpant cancels and you are the next in line on the waiting list we will contact
  you to check if you still want to participate. Specific rules about the waiting list and the order in
  which waiting list registrations are processed can be read in our <a href="{{ house_rules }}">house rules</a> or, if it differs, at
  the event specific website.
  {% endblocktrans %}
</p>

<h2>{% trans 'Your data and privacy' %}</h2>
<p>
  {% url 'core:privacy_policy' as privacy_url %}
  {% blocktrans trimmed %}
  Please read all about how we handle your data and privacy in our <a href="{{ privacy_url }}">privacy policy</a>.
  {% endblocktrans %}
</p>
<h2>{% trans "What's up with the name?" %}</h2>
<p>
  {% blocktrans trimmed %}
  We have named this system Artaxerxes, or Arta for
  friends. Naming a system like this makes it easier to refer to it
  ("the registration system" is so non-specific and long and "My
  Evolution Events" is, well, let's just not).
  {% endblocktrans %}
<p>
</p>
  {% blocktrans trimmed %}
  As for this particular name: Years ago, when we were still running our
  first LARP series Lextalionis, we created Xerxes, a system to track
  characters' influences, named after a Persian king in the fifth
  century BC. The name was mostly chosen because it sounded cool and had
  enough X'. Then when we started building this system, we picked
  Artaxerxes, named after the third son and successor of Xerxes, which
  seemed sortof appropriate.
  {% endblocktrans %}
</p>
{% endblock content %}
