{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}{% trans 'Dashboard' %}{% endblock pagetitle%}


{% block content %}
  <p>
    {% trans "Welcome to your dashboard on Artaxerxes, the Evolution Events registration system." %}
  </p>
  <p>
    {% trans "Here you'll find a quick overview of events in the future that you can register for or that you have already registered for." %}
  </p>
  <p>
  {% url 'events:registered_events' as registered_events %}
  {% blocktrans %}
  To see an overview of all your registrations, see the <a href="{{registered_events}}">Registered events page</a>.
  {% endblocktrans %}
  </p>

  <p style="border: 2px solid white; padding: 0.5em; ">
  Update: If you try to register for both runs, only one of your
  registrations will be admitted, the other is automatically rejected.
  See <a
  href="https://www.evolution-events.nl/forum/viewtopic.php?f=3&t=1801#p11766">this
  forum post</a> for more details.
  </p>

<h2>{% trans "(Pre)Registration open" %}</h2>
{% if not events.future %}
  <p>{% trans "No open registrations" %}</p>
{% else %}
  <ul class="event-list">
  {% for e in events.future %}
    {% include 'events/snippets/open_event.html' with e=e %}
  {% endfor %}
  </ul>
{% endif %}

<h2>{% trans "Already registered" %}</h2>
{% if not events.active %}
  <p>{% trans "No active registrations for coming events" %}</p>
{% else %}
  <ul class="event-list">
  {% for e in events.active %}
    {% include 'events/snippets/registered_event.html' with e=e %}
  {% endfor %}
  </ul>
{% endif %}

{% endblock content%}
