{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}{% trans 'Welcome' %}{% endblock pagetitle%}


{% block content %}
  <p>
    {% trans "Welcome to your dashboard on Artaxerxes." %}
  </p>
  <p>
    {% trans "Here you'll find a quick overview of events in the future that you can register for or that you have already registered for." %}
  </p>
  <p>
    {% trans "To see an overview of all your registrations, past and future, use the likewise named button in the menu." %}
  </p>

TODO: events.future en events.registered ergens vandaan halen in een view

<h2>{% trans "Future events - registration open" %}</h2>
<ul>
{% for e in events.future %}
  {% include 'events/event_snippet.html' with e=e %}
{% endfor %}
</ul>

<h2>{% trans "Future events - already registered" %}</h2>
<ul>
{% for e in events.registered %}
  {% include 'events/event_snippet.html' with e=e %}
{% endfor %}
</ul>
{% endblock content%}
