{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}{% trans 'Dashboard' %}{% endblock pagetitle%}


{% block content %}
  <p>
    {% trans "Welcome to your dashboard on Artaxerxes." %}
  </p>
  <p>
    {% trans "Here you'll find a quick overview of events in the future that you can register for or that you have already registered for." %}
  </p>
  <p>
    {% trans "To see an overview of all your registrations, past and future, use the likewise named button in the menu." %}
  </p>

<h2>{% trans "Registration open" %}</h2>
<ul>
{% for e in events.future %}
  {% include 'events/snippets/open_event.html' with e=e %}
{% endfor %}
</ul>

<h2>{% trans "Already registered" %}</h2>
<ul>
{% for e in events.active %}
  {% include 'events/snippets/registered_event.html' with e=e %}
{% endfor %}
</ul>

{% endblock content%}
