{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}{% trans "Practical information" %}{% endblock pagetitle%}

{% block content %}
<h2>{% trans "Anything you want to know about Evolution Events" %}</h2>
<p>
  <a href="https://www.evolution-events.nl">{% trans "Visit the Evolution Events website" %}</a><br/>
  {% trans "Or e-mail to algemeenbestuur@evolution-events.nl"|urlize %}
</p>

<h2>{% trans "Address" %}</h2>
<p>
  Stichting Evolution Events<br/>
  Bevinlaan 203<br/>
  3527 ED Utrecht<br/>
  The Netherlands<br/>
</p>
<p>
  KvK 24385140
</p>

<h2>{% trans "Payments" %}</h2>
<p>
{% blocktrans trimmed %}
Payments can be made to IBAN account NL52INGB0001297429, held by
"Stichting Evolution Events" in Capelle aan den IJssel, NL. Please note
your name, the event name and the registration number (from the
confirmation e-mail) in the payment description.
{% endblocktrans %}
</p>
<p>
{% trans "Payment at the gate is only possible in exceptional cases. Always contact the treasurer well in advance for this at penningmeester@evolution-events.nl."|urlize %}
</p>


<h2>{% trans "Rules and policies" %}</h2>
<p>
  <a href="https://www.evolution-events.nl/algemeen/?pg=huisregels">{% trans "Our house rules" %}</a><br/>
  <a href="https://www.evolution-events.nl/algemeen/?pg=privacy">{% trans "Privacy policy" %}</a><br/>
  {% trans "Please note that for some events additional rules and policies may apply. If so you can find them on the event specific website." %}
</p>
{% endblock content%}
