:root {
    --dark-gray: #1B1D1F;
    /* This is --light but 0x444 darker, which is easier to read and
     * allows using --light to make e.g. headings stand out a bit. */
    --default: #b8b9ba;
    --link-color: #c998ea;
    --link-hover-color:#936da3;
    --line: #dee2e6;
}

body {
    background-color:var(--dark);
    color:var(--default);
}

.form-control, .form-control:focus {
    background-color:var(--dark-gray);
    color:var(--default);
    max-width: 40em;
}

span.form-control {
    background-color:var(--dark);
    border: none;
}

.list-group-item {
    background-color:var(--dark);
    color:var(--default);
    border-color: rgba(0,0,0,.5);
}


.text-muted {
    /* The bootstrap builtin muted color is too dark for our dark theme,
     * so this is --default but 0x222 darker */
    color:#98999a !important;
}

h1, h2, h3, h4, h5, h6, legend, .bigname {
    color: var(--light);
}

/* Reduce heading sizes a bit from the default bootstrap sizes */
.h1, h1 {
    font-size: 2rem;
}

.h2, h2 {
    font-size: 1.5rem;
}

.h3, h3 {
    font-size: 1.25rem;
}

.h4, h4 {
    font-size: 1.15rem;
}


textarea.form-control {
    height: 8em;
}

.table, .btn-default {
    color:var(--default);
}

.navbar {
    box-shadow:0 0 5px var(--dark-gray);
}

h1 {
    margin-bottom: 0.5em;
    border-bottom: 1px solid var(--gray);
}

h2 {
    margin-bottom: 0;
}

legend {
    margin-bottom: 0;
}

ul.event-list {
    padding:0em;
    list-style-type:none;
    list-style-position:outside;
}
a {
    color:var(--link-color);
}
a:hover, a.visited:hover {
    color:var(--link-hover-color);
}

ul.messages li.succes {
    background-color:var(--green);
}

/*** Forms **********************************************/
.helptext {
    font-style: italic;
}

.errorlist {
    background-color: var(--danger);
    color: var(--light);
}

label {
    font-weight: bold;
    color: var(--light);
}

input[type="radio"] ~ label {
    color: inherit;
}

input[name="consent_announcements_nl"],
input[name="consent_announcements_en"] {
    margin-right: 0.5em;
}

input[name="consent_announcements_nl"] + br,
input[name="consent_announcements_en"] + br {
    display: none;
}

/******************** Event blocks **********************/
.event-summary {
    margin:1em 1em 0em 1em;
    background-color:var(--dark);
    background-image:linear-gradient(var(--dark) 0, var(--dark-gray) 100%);
    border-radius:2em;
    padding:1em 0em 1em 1em;
    box-shadow:0 0 5px var(--dark-gray);
}

.event-block .bigname {
    font-size:2em;
}
.event-block .subname {
    font-size:1em;
    font-style:italic;
}
.eventdate {
    margin-top:0.5em;
}

.event-block .flex-column {
    min-height:10em;
}

.event-block .event-bottom-left {
    width:30%;
    padding:1em;
    text-align:center;
    border-right:2px solid var(--dark-gray);
    border-radius:0em 2em 0em 0;
    border-top:2px solid var(--dark-gray);
    margin:0.5em 0 -1em -2em; /*  Negate padding of event-block so we get to the edge*/
}

.event-block .event-top-right,
.event-block .event-bottom-right {
    width:100%;
    padding:1em;
    text-align:center;
    border-left:2px solid var(--dark-gray);
}
.event-block .event-top-right {
    border-radius:0 2em 0 2em;
    border-bottom:2px solid var(--dark-gray);
    margin:-1em -1em 0 0; /* Negate padding of event-block so we get to the edge */
}

.event-block .event-bottom-right {
    border-radius:2em 0em 0em 0;
    border-top:2px solid var(--dark-gray);
    margin:0 -1em -1em 0; /*  Negate padding of event-block so we get to the edge*/
}

a.details-link.collapsed:after { content: '       \2207'} /* Arrow down */
a.details-link:after { content: '       \0394'} /* Arrow up */

/*** Detail block of an event ***/
.event-block .more-info {
    box-shadow:0 0 5px var(--dark-gray);
    background-color:var(--dark-gray);
    overflow:hidden;
    margin:0 2.5em;
    padding:0em 1em;
    border-radius:0 0 2em 2em;
}

/*** Registration procedure - option form ***/
.field-type-rating5 .form-check {
    display: inline;
    margin-right: 2rem;
}


/*** Registration procedure - finalcheck ***/
tr.total-price td.label {
    text-align: right;
}

/*** Registration procedure - steps ***/
.registration_steps ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    margin-bottom: var(--arrow-h);

    --bar-w: 2rem;
    --bar-h: 2rem;
    --arrow-h: 1rem;
    --bar-bg: var(--secondary);
    --bar-fg: var(--primary);
}

.registration_steps li {
    height: var(--bar-w);
    position: relative;
    color: var(--light);
}

/* Draw a (part of) a bar before each item */
.registration_steps li::before {
    content: "";

    background-color: var(--bar-fg);
    width: var(--bar-w);
    height: var(--bar-w);
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

/* Give the bar the bg color after the current item */
.registration_steps li.current ~ li::before {
    background-color: var(--secondary);
}

/* Fade out the text after the current item */
.registration_steps li.current ~ li {
    color: var(--gray);
}

/* For the current step, draw an arrow *over* the bottom half of our
 * piece of the boar, using the bg color for the corners to fake the
 * underlying bar showing through */
.registration_steps li.current::after {
    content: "";

    /* Arrow down built from borders */
    border-top: solid var(--arrow-h) var(--bar-fg);
    border-left: solid calc(var(--bar-w)/2) var(--bar-bg);
    border-right: solid calc(var(--bar-w)/2) var(--bar-bg);

    position: absolute;
    top: calc(var(--bar-h) - var(--arrow-h));
    left: 0;
    z-index: 1;
}

/* Show an additional arrow below the last piece of the bar */
.registration_steps li:last-child::after {
    content: "";

    /* Arrow down built from borders */
    border-top: solid var(--arrow-h) var(--secondary);
    border-left: solid calc(var(--bar-w)/2) transparent;
    border-right: solid calc(var(--bar-w)/2) transparent;

    position: absolute;
    top: var(--bar-h);
    left: 0;
    z-index: 1;
}

/* And make the additional arrow fg when the last step is current */
.registration_steps li.current:last-child::after {
    border-top-color: var(--bar-fg);
}

.registration_steps a {
    color: inherit;
    text-decoration: none;
}

.registration_steps li.current {
    font-weight: bold;
}

/*** Registration payment status ***/
table.registration-payments {
    width: auto;
}

table.registration-payments tr.total-payments td.label,
table.registration-payments tr.amount-due td.label,
table.registration-payments tr.total-price td.label {
    text-align: right;
}

table.registration-payments td.amount {
    text-align: right;
}

table.registration-payments td {
    padding: 0.5rem;
}

table.registration-payments tr.amount-due {
}
table.registration-payments tr.total-price td.label,
table.registration-payments tr.payment + tr.total-payments td.label,
table.registration-payments tr.amount-due td.amount,
table.registration-payments tr.amount-due td.subtract {
    border-top: double var(--line) 3px;
}

/*** Account settings menu  ***/
.account-settings-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 0.5rem;
    font-size: 1.2rem;
    border-left: 0.5rem solid var(--primary);
    color: var(--light);
}

.account-settings-menu a {
    color: inherit;
    text-decoration: none;
}

.account-settings-menu li.current {
    font-weight: bold;
}
