{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}{% trans 'Event list' %}{% endblock pagetitle%}


{% block content %}

<ul>
{% for e in events %}
  <li>{{e.display_name}}<br/>
  {{e.datum}}<br/>
  <a href="{{e.location_url}}">{{e.location_name}}</a><br/>
  <p>{{e.description}}</p>
  {# TODO Choose one of these links to show, depending on state of event #}
  <a href="{% url 'registrations:personaldetailform' eventid=e.id %}" class="btn btn-sm btn-info" role="button">{% trans 'Prepare registration' %}</a>
  <a href="" class="btn btn-sm btn-info" role="button">{% trans 'Register' %}</a>
  </li>
{% endfor %}
</ul>

{% endblock content%}
