{% load i18n %}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="{% url 'events:index' %}" id="dropdownevents" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'Events' %}</a>
    <div class="dropdown-menu" aria-labelledby="dropdownevents">
        <a class="dropdown-item" href="{% url 'events:index' %}">{% trans 'Index' %}</a>
        <a class="dropdown-item" href="#">{% trans 'Registrations' %}</a>
        <a class="dropdown-item" href="{% url 'events:eventlist' %}">{% trans 'Events' %}</a>
    </div>
</li>
