{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}{% trans 'Overview of your registered events' %}{% endblock pagetitle%}


{% block content %}

<p>
{% blocktrans %}
This page shows all events you have registered for in the past.
{% endblocktrans %}
</p>

<h2>{% trans "Upcoming events" %}</h2>
{% if not events.future %}
  <p>{% trans "No active registrations for coming events" %}</p>
{% else %}
  <ul class="event-list">
  {% for e in events.future %}
    {% include 'events/snippets/registered_event.html' with e=e %}
  {% endfor %}
  </ul>
{% endif %}

<h2>{% trans "Past events" %}</h2>
{% if not events.past %}
  <p>{% trans "No registrations in the past" %}</p>
{% else %}
  <ul class="event-list">
  {% for e in events.past %}
    {% include 'events/snippets/registered_event.html' with e=e %}
  {% endfor %}
  </ul>
{% endif %}

{% endblock content%}
