{% load i18n %}
{% load coretags %}

<table class="table registration-options">
  {% for value in registration.options.all %}
  <tr>
    <td>{{ value.field.title }}</td>
    <td>{{ value.display_value }}</td>
    {% if value.price is not None %}
    <td class="price">{{ value.price | moneyformat }}</td>
    {% else %}
    <td class="noprice"></td>
    {% endif %}
  </tr>
  {% endfor %}
  <tr class="total-price">
    <td></td>
    <td class="label">{% trans 'Total price' %}</td>
    <td class="price">{{ registration.price | moneyformat }}</td>
  </tr>
</table>
