{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}{% trans 'Personal details' %}{% endblock pagetitle%}


{% block content %}

{% if pdetails %}
<h2>{% trans 'Personal details' %}</h2>
<table class="table">
    <tr><td>{% trans 'Name' %}</td><td>{{user.full_name}}</td></tr>
    <tr><td>{% trans 'Address' %}</td><td>{{pdetails.address}}</td></tr>
    <tr><td>{% trans 'Postal code' %}</td><td>{{pdetails.postalcode}}</td></tr>
    <tr><td>{% trans 'City of residence' %}</td><td>{{pdetails.city}}</td></tr>
    <tr><td>{% trans 'Country' %}</td><td>{{pdetails.country}}</td></tr>
</table>
{% endif %}

{% if mdetails %}
<h2>{% trans 'Medical details' %}</h2>
<table class="table">
  <tr><td>{% trans 'Food allergies' %}</td><td>{{mdetails.food_allergies}}</td></tr>
  <tr><td>{% trans 'Take into account' %}</td><td>{{mdetails.event_risks}}</td></tr>
</table>
{% endif %}

{% endblock content%}
