{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sticky_footer.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    {% endblock css %}
    <title>{% block title %} Artaxerxes {% trans "registrations Evolution Events" %}{% endblock title %}</title>
</head>


<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 justify-content-end">
      <a class="navbar-brand" href="#">EE Artaxerxes</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'core:main_index_view' %}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'core:organisation_info_view' %}">{% trans 'Info about organisation' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'people:index' %}">{% trans 'Personal information' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'events:eventlist' %}">{% trans 'Overview registrations' %}</a>
            </li>
            </ul> <!-- end first navbar ul -->
            <div class="navbar-nav dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">{% trans "Welcome" %} {{ user.get_full_name }}</a>
              <ul class="dropdown-menu bg-dark">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_email' %}">{% trans "Account settings" %} </a>
                </li>
                {% if user.is_staff %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Log out" %}</a>
                </li>
              </ul> <!-- end last navbar ul -->
            </div>
          {% else %}
            </ul> <!-- end first navbar ul -->
              <ul class="navbar-nav text-right">
                <li class="nav-item">
                  <a href="{% url 'account_login' %}">{% trans "Log in" %}</a>
                </li>
              </ul> <!-- end last navbar ul -->
          {% endif %}
      </div>
    </nav>
    {% block messages %}
    {% if messages %}
      <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% endblock %}

    <main role="main" class="container">
      <h1>{% block pagetitle %}{% endblock %}</h1>
        {% block precontent %}

        {% endblock %}
        {% block content %}

        {% endblock %}
    </main>

    {% block javascript %} {# Javascript required for Bootstrap functionality #}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock javascript %}
</body>
</html>
