{% load i18n %}

{# This snippet contains the detailed information about an event. More info can be added by calling template #}

<h3>{% trans "Description" %}</h3>
<p>{{ e.description|linebreaks }}</p>

<h3>{% trans "Location information" %}</h3>
{{ e.location_info|linebreaks }}
{% if e.location_url %}
  <a class="towebsite" href="{{ e.location_url }}">{% trans "To location website" %}</a>
{% endif %}

<h3>{% trans "Contact" %}</h3>
<p>
  {% blocktrans with e.display_email|urlize as mail %}
  Got a question, suggestion or something else you want to tell us? Please send a mail to {{mail}}.
  {% endblocktrans %}
</p>
