{% load i18n %}

{# This snippet shows the summary of an event. #}
{% if e.series %}
  <div class="bigname">{{e.series.name}}</div>
  <div class="subname">{{e.display_name}}</div>
{% else %}
  <div class="bigname">{{e.display_name}}</div>
{% endif %}
<div class="eventdate">{{e.start_date}} - {{e.end_date}}</div>

<div class="location">{{ e.location_name }}</div>
{% if e.display_url %}
  <a class="towebsite" href="{{ e.display_url }}">{% trans "To event website" %}</a>
{% endif %}

<div class="event-bottom-left mt-auto">
  <a class="details-link collapsed" data-toggle="collapse" data-target="#collapse-event-{{e.id}}" href="#">{% trans "Event details" %}</a>
</div>
