{% load i18n %}

{# This snippet draws 1 event that is open for registration (so with (prepare to) register link) #}

<li>
<div class="future-event non-registered-event event-block" id="event-block-{{e.id}}">
  <div class="event-summary row justify-content-between">
    <div class="col-9 d-flex align-items-start flex-column">
      {% include 'events/snippets/event_summary.html' with e=e %}
    </div>
    <div class="col-3 d-flex align-items-end flex-column">
      <div class="event-top-right">
        {# Registration is not open yet but time of opening is known, show that #}
        {% if e.registration_opens_at and not e.registration_is_open %}
          {% if e.registration_opens_at|time:"His" == "000000" %}
            {% blocktrans with on=e.registration_opens_at.date %}
            Registration opens on {{ on }}.
            {% endblocktrans %}
          {% else %}
            {% blocktrans with at=e.registration_opens_at %}
            Registration opens at {{ at }}.
            {% endblocktrans %}
          {% endif %}
          <br/>
        {% endif %}
        {# Show preregistration button if it is open #}
        {% if e.preregistration_is_open %}
          <a href="{% url 'registrations:registration_start' eventid=e.id %}" role="button">
          {% if e.registration and e.registration.status.PREPARATION_COMPLETE %}
            {% trans 'View prepared registration' %}
          {% else %}
            {% trans 'Prepare registration' %}
          {% endif %}
          </a><br/>
        {# Show registration button if it is open #}
        {% elif e.registration_is_open %}
          {% if e.is_full %}
            <a class="toregistration" href="{% url 'registrations:registration_start' eventid=e.id %}" role="button">{% trans 'Register on waiting list' %}</a><br/>
          {% else %}
            <a class="toregistration" href="{% url 'registrations:registration_start' eventid=e.id %}" role="button">{% trans 'Register now' %}</a><br/>
          {% endif %}
        {% elif e.can_preview %}
            <a class="preview" href="{% url 'registrations:registration_start' eventid=e.id %}" role="button">{% trans 'Preview registration' %}</a><br/>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="more-info collapse" id="collapse-event-{{e.id}}" data-parent="#event-block-{{e.id}}">
    {% include 'events/snippets/event_detail.html' with e=e %}
  </div>
</div>
</li>
